<!-- Footer -->
<footer class=" text-center text-white" style="background-color: #1a232f;" >
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ComunidadUSS" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/USanSebastian" role="button"
        ><i class="fab fa-twitter"></i>
      </a>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/usansebastian/" role="button"
        ><i class="fab fa-instagram"></i>
      </a>
      <!-- Youtube -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/USanSebastian" role="button"
        ><i class="fab fa-youtube"></i>
      </a>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        UNIVERSIDAD SAN SEBASTIAN
      </p>
    </section>
    <!-- Section: Text -->
    <!-- Section: Links -->
    <section class="" >
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase">Contáctanos: </h5>
            <p><i class="fas fa-phone me-3"></i> 600 771 3000 </p>
        </div>
      </div>
    </section>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #151c26">
    © 2021 Copyright: Equipo de Desarrollo
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->