<div class="jumbotron mt-4 text-center">
  <h1 class="display-4"> Bienvenido a la nueva plataforma</h1>
  <p class=" lead "> En la siguiente plataforma podras encontrar todos tus documentos ordenamos y de acuerdo a lo que tu necesites.</p>
  <hr class="my-4">
  <p class="lead"> Disfruta la experiencia</p>
  <a class="btn btn-primary" href="/api/user/login">Iniciar Sesion</a>
</div>